body {
    background-color: #00920e;
    text-align: center;
    color: white;
}

.intro_image{
    scale: 50%;
    margin-top: -200px;
    margin-bottom: -150px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header {
    background-color: green;
}

.caption {
    margin-top: auto; 
}

.courses li {
    text-align: left;
}

a {
    color: White;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}
