body {
    text-align: center;
    background-image: url("/itis3135/images/Gothic-Xerox-Textures-016.png"); 
    background-color: gray;
    color: rgb(232, 219, 219);
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: orangered;
    border-bottom: 4px solid gray;
}

.divider {
    border-top: 3px solid gray;
    border-bottom: 0px;
}

.othersites {
    margin-top: 1rem;
}

.intro_image{
    height: 200px;
    padding-bottom: 1rem;
}

.frog {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    height: 200px;
    width: 200px;
}

.caption {
    margin-top: auto; 
}

.wireframe {
    height: 400px;
    width: 600px;
}

.sitemap {
    padding-bottom: 1rem;
}

.sitemap figcaption {
    font-style: italic;
}

button {
    background-color: orangered;
    color: white;
    font-family: sans-serif;
    font-size: large;
    margin: 1rem auto;
}

ol, ul {
    list-style-type: none;
}

.clientInfo {
    padding-right: 3rem;
}

.critique {
    margin: .5rem;
}

.principles {
    list-style-type: none;
    list-style-position: inside;
    margin-right: 3.5rem;
}

.simple {
    margin-left: auto;
    margin-right: auto;
}

.complex {
    margin-left: auto;
    margin-right: auto;
}

.complex tr:nth-child(even){
        background-color: black;
        color: white; 
}

.complex tr:first-child {
    background-color: black;
}

a {
    color: White;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

@media (max-width: 576px) { 
    .wireframe {
        height: 300px;
        width: 500px;
        margin-left: -1.5rem;
    }

    
}
