body {
    background-color: green;
    text-align: center;
}

img {
    scale: 50%;
    margin-top: -200px;
    margin-bottom: -150px;
}

.caption {
    margin-top: auto; 
}


.courses li {
    text-align: left;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}

a:visited {
    color: orange;
}