<a href="personalwork.html"><div class="personalWorkButton">
    <img class="button1" src="images\star_orange.svg" alt="">
    <p class="textPersonal">Personal</p>
    <p class="textWork">Work</p>
</div></a>
<a href="professionalwork.html"><div class="professionalWorkButton">
    <img class="button2" src="images\star_orange.svg" alt="">
    <p class="textProfessional">Professional</p>
    <p class="textWork">Work</p>
</div></a>
<a href="clientwork.html"><div class="clientWorkButton">
    <img class="button3" src="images\star_orange.svg" alt="">
    <p class="textClient">Client</p>
    <p class="textWork">Work</p>
</div></a>
<a href="contact.html"><div class="contactButton">
    <img class="button4" src="images\star_orange.svg" alt="">
    <p class="textContact">Contact</p>
</div></a>
