<header>
    <h1>Jacob Farr ITIS || 3135</h1>
    <nav>
        <a href="./">Homepage</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        <a href="forms.html">Forms</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
        ||
        <a href="firstscripts.html">First Scripts</a>
        ||
        <a href="byo_intro.html">BYO Intro Page</a>
        ||
        <a href="/">Back to Main Site</a>
    </nav>
    <nav class="othersites">
    <a href="junk\84dF113n4M3\index.htm">Crappy Site</a>
    </nav>
</header>